@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">
<head>
  <!-- شروع به کار اسکریپت چک متوالی سشن بلافاصله بعد لود هد -->
  <script>
    setInterval(() => {
      fetch('/Login/CheckSession?hashed=true', { cache: 'no-store' })
      .then(res => res.json())
      .then(data => {
          const role = data.role;
          const sessionHash = data.id;
          if (role === 'none') {
            window.location.href = '/Login/Index';
            return;
          }
          const currentHash = (new URLSearchParams(window.location.search)).get('h');
          if (currentHash !== sessionHash) {
            window.location.href = '/Login/Index';
            return;
          }
      })
      .catch(() => {
          window.location.href = '/Login/Index';
      });
    }, 5000); // هر 5 ثانیه تا فشار به سرور نیاد
    // این هر چند ثانیه چک میکند که هش سشن صفحه با هش سشن فعال یکی باشد
    // اگر متفاوت باشد سشن این صفحه منقضی شده و به صفحه لاگین میرود
    // اونجا اگر سشن فعال داریم به داشبوردش میرود اگر نداریم صفحه لاگین لود میشود
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/fontawesome/6.7.2/css/all.min.css" asp-append-version="true" /> <!-- آیکون های استفاده شده در کل برنامه -->
  @RenderSection("Styles", required: false)
</head>
<body>
  @RenderSection("Header", required: true)
  <style>
    .main { /* انیمیشن لود صفحات با قابلیت خاموش شد اگر پست هست */
      @(ViewData["NoAnimationIn"] as bool? == true ? "opacity: 1 !important; transform: none !important; transition: none !important;" : "opacity: 0; transform: translateY(20px);")
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    .main.visible {
      opacity: 1;
      transform: translateY(0);
    }
  </style>
  <main class="main">
    @RenderBody()
    @RenderSection("Scripts", required: false)
  </main>
<!-- رندر پاپ آپ خارج از مین -->
<!-- چون مین کمتر یا بیشتر صفحه میتواند باشد و پوزیشن فیکسد پاپ آپ خراب میشود -->
@RenderSection("Popup", required: false)
</body>
</html>

<script>
  // بعد از لود موارد بالا یعنی بعد از لود تمام موارد صفحه، داشبورد مین را نمایان میکنیم
  // در سی اس اس سراسری داشبورد برای ویزیبل شدن داشبورد مین انیمیشن زدیم
  // ویو دیتا نو انیمیشن این خودکار از اکشن های پست فرستاده میشه و بدون انیمیشن می کند
  window.addEventListener('load', () => {
    const elements = document.querySelectorAll('.main');
    elements.forEach(el => {
      el.classList.add('visible');
    });
    // بعد نمایش مین، پاپ آپ و مواردی که با تاخیر باید نمایان شوند و کلاس ویل شو دارن نمایش داده میشوند
    setTimeout(() => { // ایجاد تاخیر نسبت به بالا
      const willShowPopups = document.querySelectorAll('.will-show');
      willShowPopups.forEach(el => {
        el.classList.add('visible');
      });
    }, 300); // تأخیر 300 میلی ثانیه
  });
</script>